body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

#navbar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 20px;
    background-color: #0d0d2b;
}

#navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

#navbar li {
    margin: 0px 10px;
    cursor: pointer;

}

#navbar ul li a {
    color: white;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: #f5c16c;
}

.buttons {
    display: flex;
    gap: 10px;
}


.btn {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
}


.login {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.login:hover {
    background-color: white;
    color: black;
}

.register {
    background-color: orange;
    color: black;
    padding: 5px 15px;
    border-radius: 15px;
}

.register:hover {
    background-color: darkorange;
    color: white;
}


.cart {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 15px;
}

.cart:hover {
    background-color: white;
    color: black;
}

h2 {
    color: #1A1A2E;
    margin-left: 15px;
    text-decoration: underline;
    text-decoration-color: #FFA500;
    text-underline-offset: 7px;
}

.question-frame {
    background-color: #D3D3D3;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.question-frame:hover {
    background-color: #EEEEEE;
}

.have-questions {
    width: 50%;
    background-color: #1a1a2e;
    /* Matches your navbar color */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    margin: 30px auto
}

.have-questions:hover {
    background-color: #2a2a4e;
}

.last {
    display: flex;
    background-color: #0d0d2b;
    color: #bfbfbf;
    justify-content: space-between;
    align-items: center;
}

.foottable {
    border-collapse: separate;
    border-spacing: 25px;
    text-align: center;
    color: lightgray;
    margin-right: 300;
}

.foottable a {
    text-decoration: none;
    color: #bfbfbf;

}